<div class="container">
  <div class="row">
    <div class="col-md-3">

    <%= render '/users/profile',user:@user %>

    <%= render 'create', book:@book %>
    </div>
    <div class="col-md-8 offset-md-1">
    
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Opinion</th>
        </tr>
      </thead>
  
     <tbody>
    <h1>Book detail </h1>
        <tr>
          <td><%= link_to image_tag(@show_book.user.get_profile_image(80,80)),user_path(@show_book.user_id) %>
          <%= link_to "#{@show_book.user.name}",user_path(@show_book.user_id) %></td>
          <td><%= link_to "#{@show_book.title}",book_path(@show_book.id) %></td>
          <td><%= @show_book.body %></td>
          <td><% if @show_book.user == current_user %>
                <%= link_to 'Edit',edit_book_path(@show_book.id) %>
              <% end %></td>
    
      <td><% if @show_book.user == current_user %>
      <%= link_to 'Destroy',book_path(@show_book),method: :delete,"data-confirm" => "Are you sure?" %>
        <% end %></td>
        
    <% if @show_book.favorited_by?(current_user) %>
      <td>
        <%= link_to book_favorites_path(@show_book), method: :delete do %>
        <i class="fas fa-heart" style="color:red;"></i><%= @show_book.favorites.count %> いいね
        <% end %>
      </td>
    <% else %>
      <td>
        <%= link_to book_favorites_path(@show_book), method: :post do %>
        <i class="fas fa-heart" style="color:aqua;"></i><%= @show_book.favorites.count %> いいね
        <% end %>
      </td>
    <% end %>
      <td>
        コメント件数：<%= @show_book.book_comments.count %>
      </td>
        </tr>
      </tbody>
      </table>
          <div>
        <% @show_book.book_comments.each do |book_comment| %>
       <p><%= image_tag book_comment.user.get_profile_image(50,50) %><%= book_comment.comment %>
       <% if book_comment.user == current_user %>
       <%= link_to "Destroy",book_book_comment_path(book_comment.book,book_comment),method: :delete,class:"col-md-3 btn-sm btn-danger m-2" %>
       <% end %>
       </p>
        <%= link_to "#{book_comment.user.name}",user_path(book_comment.user.id) %>
        <% end %>
          </div>
          <div>
            <%= form_with model: [@show_book, @book_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "comment",class:"form-control"%></br>
            <%= f.submit "送信"%>
            <% end %>
          </div>
    </div>
  </div>
</div>